.fundo{
    
        background-color: black;
    }
    



page-home {

}

.icon{

    padding-right: 10px;
}

h3 {
    font-family: "Old";
    font-size: 40px;
    justify-content: center;
    color: #f39c12;
    
                     
}